.mobile-filter {
	@include media($screen-def, max) {
		position: fixed;
		left: 0;
		top: 44px;
		bottom: 0;
		z-index: -1;
		opacity: 0;
		right: 0;

		.is-filter-show & {
			opacity: 1;
			z-index: 99;
		}

		&__overlay {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: rgba(#000, 0.3);
			z-index: 1;
		}

		&__body {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			max-width: 80%;
			min-width: 240px;
			padding: rem(10);
			box-sizing: border-box;
			overflow: auto;
			transform: translateX(-100%);
			background: #fff;
			transition: 0.3s 0.1s ease;
			z-index: 2;
		}

		.is-filter-show	&__body {
			transform: none;
		}
	}
}

.is-filter-show {
	overflow: hidden;
}
