////
/// @group blocks/noscript/
////

/// Уведомление о отключеном JavaScript
.noscript-msg {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	clear: both;
	font: normal normal 13px/1.2em Arial, sans-serif;
	backface-visibility: hidden;
	outline: none;
	padding: 0;
	margin: 0;
	border-width: 0;

	&__input {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;

		&:checked + .noscript-msg__container {
			display: none;
		}
	}

	&__container {
		padding: .75em 1.5em;
		background-color: $color-gray-7;

		@include clearfix();
	}

	&__close {
		display: block;
		float: right;
		width: 1em;
		height: 1em;
		font-size: 3em;
		line-height: 1;
		margin-left: .5em;
		text-align: center;
		cursor: pointer;
		color: $color-white;

		&:hover {
			background-color: rgba($color-black, .075);
		}

		&:active {
			background-color: rgba($color-black, .15);
		}
	}

	&__content {
		overflow: hidden;
		color: $color-white;

		> :first-child {
			margin-top: 0;
		}

		p {
			margin: .5em 0;
		}
	}
}
