.compare-card {
	height: 100%;

	&__head {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: rem(8);
		background: $color-white;
		height: 100%;
		box-sizing: border-box;

		@include media($screen-ms) {
			padding: rem(15);
		}
	}

	&__preview {
		display: flex;
		margin-bottom: rem(10);
	}

	&__image {
		flex-shrink: 0;
		display: flex;
		width: rem(40);
		height: rem(40);
		margin-right: rem(10);

		@include media($screen-ms) {
			width: rem(60);
			height: rem(60);
		}

		img {
			max-height: 100%;
			margin: auto;
		}
	}

	&__title {
		flex-grow: 1;
		font-size: rem(14);
		line-height: em(20, 14);
		height: rem(60);
		overflow: hidden;
		position: relative;
	}

	&__price {
		color: $color-black;
		font-size: rem(15);
		font-weight: $font-weight-bolder;
		line-height: 1;

		@include media($screen-ms) {
			font-size: rem(20);
		}
	}

	&__body {
		padding: rem(10) rem(15);
		font-size: rem(14);

		@include media($screen-ms) {
			font-size: rem(15);
		}
	}
}
