.five-images {
	display: flex;
	justify-content: center;

	@include media($screen-lg) {
		margin-top: rem(-350);
	}

	&__item {
		position: relative;
		width: 20%;
		margin: 0 2px;
		line-height: 0;

		.browserizr-is-desktop &:hover::after {
			opacity: 0;
		}

		.browserizr-is-desktop &::after {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			background: rgba($color-black, 0.3);
			transition: 0.3s ease;
		}

		img {
			width: 100%;
		}
	}
}
