////
/// @group blocks/layouts/
////

/// Description
.layout {
	$this: &;

	display: flex;
	flex-direction: column;
	background-color: $color-gray-1;
	position: relative;
	height: auto;
	min-height: 100vh;

	&.mm-page {
		background-color: $color-gray-1 !important; // sass-lint:disable-line no-important
	}

	&__body {
		flex-grow: 1;
	}

	// &__footer {}

	// &--site {}

	&--account {
		#{$this} {
			&__footer {
				margin: rem(70) 0 0;
			}
		}
	}
}
