////
/// @group blocks/
////

/// Description
.checker {
	$this: &;

	position: relative;
	display: inline-flex;
	align-items: center;
	user-select: none;
	cursor: pointer;
	visibility: hidden;

	@at-root #{$this}.disabled {
		opacity: 0.33;
		cursor: not-allowed;
	}

	@at-root a#{$this} {
		text-decoration: none;
		color: $color-black;

		&:hover {
			color: $color-main;
		}
	}

	label {
		&.has-error {
			position: absolute;
			top: 100%;
			left: 0;
			font-size: rem(11);
			background: $color-white;
			color: $color-danger;
			padding: 4px 8px;
			border: 1px solid;
			margin-top: 5px;
			z-index: 9;

			&::after,
			&::before {
				bottom: 100%;
				left: rem(10);
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&::after {
				border-color: rgba($color-white, 0);
				border-bottom-color: $color-white;
				border-width: 4px;
				margin-left: -4px;
			}

			&::before {
				border-color: rgba($color-danger, 0);
				border-bottom-color: $color-danger;
				border-width: 5px;
				margin-left: -5px;
			}
		}
	}

	&__input {
		visibility: visible;
		opacity: 0;
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&__icon {
		visibility: visible;
		align-self: flex-start;
		display: inline-block;
		width: rem(20);
		height: rem(20);
		position: relative;
		border: 1px solid $color-gray-4;
		box-sizing: border-box;
		transition: background-color $time-fast ease, border-color $time-fast ease;
		flex-shrink: 0;

		#{$this}:hover & {
			border-color: $color-main;
		}

		.has-error ~ & {
			border-color: $color-danger;
		}

		:checked ~ &,
		.is-checked & {
			background-color: $color-main;
			border-color: $color-main;
		}
	}

	&__symbol {
		position: absolute;
		fill: $color-white;
		filter: drop-shadow(0, 2px, rgba($color-black, .3));
		transform: scale(0);
		transition: transform $time-fast ease;

		// sass-lint:disable force-element-nesting
		[type="checkbox"] ~ #{$this}__icon &,
		.is-checked #{$this}__icon & {
			@include absolute-center(rem(12), rem(12), false);
		}

		:checked ~ #{$this}__icon &,
		.is-checked #{$this}__icon & {
			transform: scale(1);
		}
		// sass-lint:enable force-element-nesting
	}

	&__text {
		visibility: visible;
		margin-left: $gutter-sm;
		line-height: normal;
		font-size: rem(13);
	}

	&__counter {
		color: $color-gray-5;

		#{$this}:hover & {
			color: $color-main;
		}
	}
}
