.action-bar-submenu {
	width: 100%;
	column-count: 2;
	column-gap: 2rem;
	column-fill: auto;
	padding: rem(20) rem(40);
	box-sizing: border-box;
	flex-grow: 1;
	flex-shrink: 0;

	&__link {
		display: inline-block;
		vertical-align: top;
		font-size: rem(13);
		line-height: em(17, 13);
		padding: em(10, 13) 0;
		color: $color-gray-8;
		text-decoration: none;

		&:hover {
			color: $color-main;
		}
	}
}
