////
/// @group blocks/
////

/// Description
.text {
	&--size-10 {
		font-size: rem(10);
	}

	&--size-12 {
		font-size: rem(12);
	}

	&--size-13 {
		font-size: rem(13);
	}

	&--size-15 {
		font-size: rem(15);
	}

	&--size-18 {
		font-size: rem(18);
	}
}
