.fixed-menu {
	visibility: hidden;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	&__item {
		margin: 3px 0 0;
		position: relative;

		&--gap {
			margin-top: 20px;
		}

		> * { // sass-lint:disable-line no-universal-selectors
			visibility: visible;
		}

		@include media($screen-lg) {
			margin: 4px 0 0;

			&--gap {
				margin-top: 36px;
			}
		}
	}

	@include media(420px, max, height) {
		display: none;
	}

	@include media($screen-def, max) {
		display: none;
	}
}
