////
/// @group blocks/
////

/// Description
.mail-link {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	font-weight: $font-weight-bold;
	color: $color-gray-5;

	&:hover {
		color: $color-main;
	}

	&:active {
		color: $color-main-darken;
	}
}
